---
import "../../../src/assets/style/our-values.css";
---

<section class="pillars-architectural" id="values">
    <div class="pillars-wrapper">
        
        <!-- PILLAR 01: RESPECT -->
        <div class="monolith" id="p1">
            <div class="monolith-content">
                <div class="m-header">
                    <span class="m-numb">01</span>
                    <h3 class="m-title">RESPECT</h3>
                </div>
                <div class="m-body">
                    <p class="m-lead">Considération totale de l’identité.</p>
                    <p class="m-desc">Le respect du jeune dans ce qu'il est, dans sa demande par rapport à son environnement (famille, école). Cette position génère une réciprocité vitale pour le séjour.</p>
                </div>
            </div>
        </div>

        <!-- PILLAR 02: ACTION -->
        <div class="monolith" id="p2">
            <div class="monolith-content">
                <div class="m-header">
                    <span class="m-numb">02</span>
                    <h3 class="m-title">ACTION</h3>
                </div>
                <div class="m-body">
                    <p class="m-lead">Partager l'essence du terrain.</p>
                    <p class="m-desc">Vivre les conditions de vie des référents d'accueil permet d’entrer en contact avec l’essence même du jeune et de déboucher sur de nouvelles pistes d’intervention.</p>
                </div>
            </div>
        </div>

        <!-- PILLAR 03: RÉCONCILIATION -->
        <div class="monolith" id="p3">
            <div class="monolith-content">
                <div class="m-header">
                    <span class="m-numb">03</span>
                    <h3 class="m-title">RÉCONCILIATION</h3>
                </div>
                <div class="m-body">
                    <p class="m-lead">Retrouver son image propre.</p>
                    <p class="m-desc">Un processus au terme duquel le jeune pourra progressivement renouer des liens avec son milieu de vie et réapprendre sa place de citoyen.</p>
                </div>
            </div>
        </div>

    </div>
</section>